CI_ENV=production

CAFEEID_DB_HOST=localhost
# Kalau database beda server, isi IP/hostname remote MySQL, contoh:
# CAFEEID_DB_HOST=45.130.230.158
CAFEEID_DB_USER=cpanel_database_user
CAFEEID_DB_PASS=cpanel_database_password
CAFEEID_DB_NAME=cpanel_database_name

CAFEEID_SUPER_USER=admin
CAFEEID_SUPER_PASS_HASH=generate_with_php_password_hash

CAFEEID_TELEGRAM_BOT_TOKEN=telegram_bot_token
CAFEEID_CALLBACK_SECRET=isi_random_panjang_untuk_mengamankan_callback
